.password-gen-form {
  border: 1px solid black;
  border-radius: 5px;
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
  }

  button {
    border: 1px;
    border-radius: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
  }
}

.input-field {
  display: flex;
  align-items: flex-start;

  input {
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 10px 10px;
    width: 100%;
  }
}
